* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f0f9eb;
  color: #2c3e50;
  padding: 2rem;
  margin: 20px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.container {
  max-width: 800px;
  margin: auto;
}

.collapsible {
  background-color:#f0f9eb;
  padding: 10px;
  padding-left: 20px;
  border-bottom: 2px solid #2980b9;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 20px;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-radius: 10px;
  position: ;
}

.active, .collapsible:hover {
  background-color: #e8f6f3;
}

.content {
  padding: 0 18px;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  background-color: #f0f9eb;
  margin-top: 5px;
  margin-bottom: 5px;
}

.collapsible:after {
  font-size: 20px;
  color: black;
  float: right;
  margin-left: 5px;
  content: "\25BC";
  padding-right: 10px;
}

.active:after {
  content: "\25BD";
}

header {
  text-align: center;
  margin-bottom: 10px;
}

header img {
  filter: grayscale(100%);
  border-radius: 10%;
}

header h1 {
  font-size: 3rem;
  color: #34495e;
}

header p {
  font-size: 1.5rem;
  color: #7f8c8d;
}

section {
  flex: 2 1 400px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li ul li, #points {
  margin-bottom: 0.1rem;
  list-style-type: disc;
  color: #2c3e50;
}

strong {
  list-style-type: none;
}

a {
  color: #3498db; /* Blue link color */
}

#loading {
  position:fixed;
  inset: 0;
  background-color: #34495e;
  z-index: 2;
  opacity: 1;
  transition: opacity 500ms ease;
}

#loading::after
{
  content: "";
  position: absolute;
  inset: 45%;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 10px solid white;
  border-top-color: #000;
  animation: spinner 1s linear infinite;
}

@keyframes spinner
{
  from
  {
    transform: rotateZ(0deg);
  }
  to
  {
    transform: rotateZ(360deg);
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }

  aside,
  section {
    flex: 1 1 100%;
  }
}